body {
	color: #111;
	background-color: #E9ECEF;
}

.titulo {
	text-align: center;
}

.input-error {
	border: 2px solid;
	border-color: #c22;
}

#tit {
	font-size: 5rem;
	color: #007BFF;
	margin-bottom: 2rem;
}

@media only screen and (max-width: 450px) {
	#tit {
		font-size: 2rem;
	}
}

@media only screen and (max-width: 600px) {
	#tit {
		font-size: 3rem;
	}
}